<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Home Page</title>
        <style>
            .center
            {
                text-align: center;
            }
            .TitleText
            {
                font-size: xx-large;
            }
            .border
            {
                border: 2px black;
                padding: 20px;

            }
            .intextpadding
            {
                padding-inline-start: 100px;
                padding-inline-end: 100px;
            }
            .formpadding
            {
                padding-inline-start: 300px;
                padding-inline-end: 300px;  
            }
            .formcolor
            {
                background-blend-mode: rgb(196, 196, 196);
            }
            .formflex
            {
              flex-shrink: 10px;
            }
            .textboxpadding
            {
                padding-top: 12px;
            }
            .bottoncolor
            {
                text-decoration-color: white;
            }
        </style>
    </head>
    <body>
        {% block NavBar %}
        <div class="alert alert-warning" role="alert">
            CAUTION!! Site currently under Development
          </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="http://127.0.0.1:5000/">SymptoDoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/Searcher">DataBase</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Help</a>
                    <a class="dropdown-item" href="#">Feedback</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://127.0.0.1:5000/Developers">Developers</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Feel Well</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        {% endblock %}
        <h2><p class="center lead TitleText shadow-lg p-3 mb-5 bg-white rounded">SymptoDoc, the virtual medical consultant.</p></h2>
        <div class="formcolor">
            <form class="border lead formflex">
                <div class="mb-3 col-form-label-sm textboxpadding">
                    <label for="name" class="form-label">Name</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                    <div class="textboxpadding">
                        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name"></div>
                    <div id="emailHelp" class="form-text">* Required</div>
                </div>       
                <div class="mb-3 col-form-label-sm">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="someone.something@example.com">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="">
                    <label for="inputPassword5" class="form-label col-form-label-sm">Password</label>
                    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Enter password">
                    <div class="textboxpadding">
                        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Confirm password">
                    </div>
                </div>
                <div id="passwordHelpBlock" class="form-text col-form-label-sm">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </div>
                <br><br>
                <br><br>
                <p class="lead center">
                    Have an account? <a href="http://127.0.0.1:5000/login">Sign in</a>
                </p>
                <form action="http://127.0.0.1:5000/login">
                    <button type="submit" class=" btn btn-primary col-form-label-sm">SignUp</button></form>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>